@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar CSS */
.navbar{
  background-color: #1c8c59;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray ;
  --webkit-box-shadow: 0 8px 6px -6px gray ;
  color: rgb(255, 253, 253) ;
  border-bottom: 0 solid rgb(255, 255, 255) !important;
}

.nav-link {
  font-weight: 400 !important;
  color: rgb(255, 252, 252) !important;
}
.nav-link.active {
  color: rgb(252, 251, 251);
  font-weight: 800;
  border-bottom: 3px solid rgb(251, 249, 249);
}
.navbar-brand{
  font-weight: 700;
  font-family: 'roboto',sans-serif;
  letter-spacing: 3px;
}

/* //Footer */
.Footer{
  height: 200px;
  width: 100%;
  padding: 25px;
  text-align: center;
  color: white;
  overflow: hidden;
  background: #000000;  /* fallback for old browsers */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../public/images/Agri_3.jpg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 3, 0, 0.8)), url(../public/images/Agri_3.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
.Footer a{
  text-decoration: none;
  color:white;
  padding: 10px;

}
.Footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* //Page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================================
========= register page  */

.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
  color: #1c8c59;
}
.cat-btn:hover {
  background-color: #1c8c59;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #1c8c59 !important;
  color: white;
  padding: 20px 0px;
}
 
.link1.active {
  background-color: rgb(30, 180, 112);
  border-color: #1c8c59;
  font-weight: bold;
  color: #ffffff;
}
.abctabs{
  font-weight: 300 !important;
  color: rgb(255, 252, 252);
}